.app {
  display: flex;
  height: 100vh;
}

.app__toolbar {
  width: var(--sidebar-width);
  background: var(--surface-sidebar);
  border-left: var(--border-width-sm) solid var(--border-menu);
}

.app__canvas {
  width: var(--canvas-width);
  background: var(--surface-page);
}
