.app {
  display: flex;
  height: 100vh;
}

.app__toolbar {
  width: var(--sidebar-width);
  background: var(--color-primary-darkest);
  border-right: 1px solid var(--color-primary-darker);
}

.app__canvas {
  width: var(--canvas-width);
  background: var(--color-surface);
}
